
body {
  background-color: #f6f6f6;
}

main {
  background-color: rgb(255, 255, 255);
  margin-top: 6rem;
}

.custom-size {
  width: auto;
  height: 60%;
}

#add-to-cart-btn {
  background-color: var(--call-to-action);
  color: white;
  transition: all 200ms ease-in-out;
}

#add-to-cart-btn:active {
	transform: scale(0.95)
}

#quantity-box {
  width: 80px;
}

/* Embla carosuel styling */
.embla {
  max-width: 48rem;
  height: fit-content;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  height: 500px;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  max-height: 500px;
  justify-content: flex-start;
}

.embla__slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  justify-content: center;
  margin-right: 20px;
  margin-left: 10px;
}

.embla__button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.embla__button--prev {
  left: 10px;
}

.embla__button--next {
  right: 10px;
}

.embla__button svg {
  fill: #000; /* Färg för knappen */
  width: 24px;
  height: 24px;
}

.embla__button:hover svg {
  fill: #007bff; /* Färg vid hover */
}

/* Style accordion */
.category-header {
  border-bottom: none;
  padding: 0.5rem 0;
  display: flex;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  justify-content: center;
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: #f6f6f6;
}

.accordion-button {
  background-color: #f6f6f6;
}

/* Style product data table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.accordion-body tr {
	display: flex;
	flex-direction: row;
}

.attribute-row td {
  padding: 8px;
  border-bottom: 1px solid #eee;
  flex: auto;
}

.attribute-name {
  width: 50%;
  font-weight: bold;
  color: #333;
}

.attribute-value {
  color: #555;
}
