#add-to-cart-btn {
  background-color: var(--call-to-action);
  border: 1px black solid;
}

#quantity-box {
  width: 80px;
}

.carousel .slider-wrapper .slide img {
  width: 70%;
  margin: auto;
  padding: 1.5rem;
}

.carousel .thumbs img {
  width: 60px;
  height: auto;
}

body {
  background-color: #f6f6f6;
}

main {
  background-color: rgb(255, 255, 255);
  margin-top: 6rem;
}

.embla {
    overflow: hidden;
    max-height: 500px;
    }

.embla__container {
    display: flex;
    max-height: 100%;
    justify-content: center;
    }

.embla__slide {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    min-width: 0;
    max-height: 100%;
    }

.custom-size {
    width: auto;
    height: 80%;
    /* object-fit: cover; Behåll proportioner och beskära om nödvändigt */
    }